@import "./normalize.scss";
@import "./config.scss";
@import "./elementui.scss";

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

a:hover{
    color: $mainColor;
}